modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"
build = ["pnpm", "run", "build"]
run = ["node", "--enable-source-maps", "artifacts/api-server/dist/index.mjs"]

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[objectStorage]
defaultBucketID = "replit-objstore-e2a8d32d-ff8d-4db4-8adf-cea8f1ff447b"

[userenv]

[userenv.shared]
JWT_SECRET = "a82ef16d017a25a63404b5cf20071ab7331c4aa87dda0e95a5ab1b066ed99b4b3315cd173135f8aaf2ba278eadf41af44cbde1b5bc81e9d743ab26c7d17e994f"
